---
interface Props {
  title: string;
  icon: string;
  gradient: string;
  border: string;
  iconColor: string;
}

const {
  title,
  icon,
  gradient,
  border,
  iconColor
} = Astro.props;
---

<section class="flex justify-center">
  <div class={`w-36 h-48 rounded-2xl ${gradient} ${border} backdrop-blur-sm flex flex-col items-center justify-center p-4`}>
    <i class={`fa-solid ${icon} ${iconColor} text-3xl mb-2`}></i>
    <span class="text-base-content text-sm font-bold">{title}</span>
  </div>
</section>